/* styling for index.html */
.inventoryFeed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 2%;
    border: 5px solid #000000;
    border-radius: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    width: 65%;
}

.filterWrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}

.filterButton {
    padding: 1%;
    border: 1px solid #000000;
    border-radius: 5%;
    cursor: pointer;
}

.filterContent {
    display: none;
    text-align: center;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin-bottom: 4%;
}

.box {
    width: 20%;
    border: 1px solid #000000;
    border-radius: 5%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.itemName {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid lightgray;
}

.itemDetails {
    font-size: 1.25rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.otherInfo {
    font-size: 1.25rem;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.aboutPageLink {
    padding: 2%;
}

.helpPageLink {
    padding: 2%;
}

/* styling for items.html */
.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imgBox {
    width: 50%;
    border: 1px solid #000000;
    border-radius: 5%;
    display: block;
    align-items: left;
}

.smallImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.smallImgBox {
    width: 50%;
    border: 1px solid #000000;
    border-radius: 5%;
    display: block;
}

/* Changes the scaling of each element depending on the device being used to view the website */
@media screen and (max-width: 768px) {

    .inventoryFeed {
        width: 50%;
        margin-left: 0%;
        border: 2px solid #000000;
    }
}